<div class="container">
<h4 class="text-center text-primary">Employee List</h4>

<table class="table">
    <thead>
    <tr>
        <th> First Name </th>
        <th>Last name</th>
        <th> Email ID</th>
        <th> Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor = "let employee of employees;" >
        <td> {{ employee.firstName }} </td>
        <td> {{ employee.lastName }}</td>
        <td> {{ employee.emailId }}</td>
        <td> 
            <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button> 
            <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin: 5px;" >Delete</button> 
            <button (click)="EmployeeDetails(employee.id)" class="btn btn-primary" style="margin: 5px; display: inline-block;" > View  </button> 
        
        </td>
    </tr>
</tbody>

</table>
</div>